@import url("https://fonts.googleapis.com/css2?family=Honk&family=Silkscreen:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
}
body {
  font-family: "Silkscreen", sans-serif;
  background: repeating-linear-gradient(
    -45deg,
    black,
    rgb(2, 57, 4) 100px,
    rgb(1, 255, 9) 50px,
    rgb(81, 7, 241) 120px
  );
  padding: 2vw;

  align-items: center;
}
/*global*/
.navbar {
  padding-top: 0px;
  text-shadow: 2px 2px 4px rgba(1, 1, 1, 1);
  background-color: #071d004f;
  position: fixed;
  flex-wrap: wrap;
  flex-direction: row;
  z-index: 1000;
  filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.3));
  display: flex;
  font-size: 2vw;
  align-items: center;
  width: 96vw;
}
.navbar .right li {
  letter-spacing: 0.3vw;
  float: right;
  padding-left: 3vw;
}
.navbar .right {
  margin-left: auto;
}
.navbar .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
  width: 100%;
}
.right li a {
  border: 0.2vw solid #66bb6a;
  color: #551a8b;
  margin: 0.15vw;
}
.navbar .right li:hover a {
  background-color: #f5fa00;
  color: #66bb6a;
}
h2 {
  font-size: 4vw;
  text-transform: uppercase;
  letter-spacing: 0.3vw;
}
/*global end*/

/*header navbar*/
.scroll-down {
  margin-top: 3vw;
}

/*social list*/
.social-list li a {
  letter-spacing: 0.4vw;
  color: #551a8b;
  border: 0.2vw solid #66bb6a;
  transform: rotate(45deg);
  font-size: 3.3vw;
  margin: 0.3vw;
}
.social-list li:hover a {
  color: #66bb6a;
  background: #f5fa00;
  transform: rotate(360deg);
}
.social-list ul {
  display: inline;
}
.navbar .social-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/*social list end*/

.container {
  background: rgba(0, 0, 0, 0.966);
  box-sizing: content-box;
  max-width: 100vw;
  margin: 0 auto;
  padding: 2vw;
  text-align: center;
  font-family: "Silkscreen", sans-serif;
  color: #104417;
  width: 80vw;
  margin: 10vw auto 0;
  filter: drop-shadow(0px -5px 5px rgba(234, 234, 12, 0.8))
    drop-shadow(0px 5px 10px rgba(234, 234, 12, 0.8));
}

/*about*/
.about p {
  font-size: 2vw;
  text-align: justify;
}

/*about end*/

/*works*/
.block {
  box-shadow: 4px 4px 7px #333;
  overflow: hidden;
  position: relative;
  margin-bottom: 10vw;
}
.works {
  padding-bottom: 3vw;
}
.works-thumb {
  height: 25vw;
}
#work-1 {
  background: url("./redditClone.png") no-repeat 1vw;
  background-size: cover;
}
#work-2 {
  background: url("./webshop.png") no-repeat 1vw;
  background-size: cover;
}
#work-3 {
  background: url("./photogallery.png") no-repeat 1vw;
  background-size: cover;
}
.block::after,
.block::before {
  content: "";
  position: absolute;
  display: block;
  width: 50vw;
  height: 100vw;
  top: 0;
  overflow: hidden;
}
.block::after {
  left: -50vw;
  transition: 0.5s;
}
.block::before {
  right: -50vw;
  transition: 0.5s;
}
.block:hover:after {
  left: 0;
}
.block:hover:before {
  right: 0;
}
.works-caption {
  text-align: justify;
  font-family: "Silkscreen", sans-serif;
  font-size: 1vw;
  position: absolute;
  border-radius: 1vw;
  display: block;
  padding: 1vw 0.5vw;
  width: 60vw;
  left: 10vw;
  top: -100vw;
  z-index: 1;
  color: #f5fa00;
  border: 0.2vw solid rgb(81, 7, 241);
  transition: top 0.5s;
  background-color: #00000095;
}
.block:hover .works-caption {
  top: 3vw;
}
.works h2 {
  margin: 7vw 0;
}
/*works end*/

/*skillls*/
.skills p {
  text-align: center;
  color: #f5fa00;
}
.skills h2 {
  margin: 7vw;
  color: #104417;
}
.skills .skills-thumb {
  margin-bottom: 5vw;
}
/*skills end*/

/*social list main*/
.social-footer h2 {
  margin: 5vw 0 3vw;
}
.social-footer .social-list {
  padding: 0;
  margin-bottom: 5vw;
}
.social-footer .social-list li {
  display: inline-block;
  list-style: none;
  margin-left: 2vw;
}
.social-footer .social-list li a {
  margin-top: 5px;
}
.fa-linkedin {
  font-size: 60px;
}
.cv {
  font-size: 2.5vw;
  margin: 0.4vw;
  height: 2vw;
}
.fa-github {
  font-size: 2vw;
}
#footerCV {
  height: 2vw;
}

/*footer*/
footer {
  color: #fff;
}
footer h2 {
  margin-top: 7vw;
}
.contact {
  margin: 5vw 0;
}
.contacts-data {
  margin: 3vw 7vw;
}
.contacts-data .btn {
  background: transparent;
  padding: 4vw 6vw;
  color: #f5fa00;
  text-transform: uppercase;
  margin-top: 7vw;
}
.contacts-data .btn:hover {
  background: #104417;
}
.contact .button-icon {
  padding-left: 2vw;
}
.contact-text {
  font-family: "Lato", serif;
  font-size: 2vw;
  text-transform: uppercase;
  letter-spacing: 0.4vw;
  padding-left: 7vw;
}
